:host {
  width: 100%;
}

input {
  width: 100%;
}

.ng-invalid.ng-touched {
  border-color: var(--my-error);
}

.ng-dirty + label {
  color: var(--my-font-color-secondary);
}

.input-wrapper {
  margin: 0;
}

::ng-deep {
  .p-float-label {
    label {
      margin-top: -0.75rem;
    }

    input:focus,
    input.p-filled {
      & ~ label {
        top: -0.25rem;
        background-color: white;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
