@use "src/theming/vars";

:host {
  --background-color: hsl(29deg 13% 17%);
}

.coming-soon {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
}

.container {
  position: relative;
  margin-top: 10vh;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;

  .img-wrapper {
    padding: 2rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  &::after {
    --color1: hsl(16, 11%, 80%);
    --color2: hsl(23deg 61% 36%);
    --distance: 46%;
    --border: 0.5rem;
    --from: 30deg;

    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
        from var(--from),
        var(--color1),
        var(--color2) var(--distance),
        transparent var(--distance)
    );
    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - var(--border)),
        #fff calc(100% - var(--border) + 1px)
    );
    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - var(--border)),
        #fff calc(100% - var(--border) + 1px)
    );
  }
}

.title {
  font-family: 'FabulousScript', sans-serif;
  font-size: 5rem;
  color: var(--my-color-default-white);
  margin-top: 10rem;
}

.fake-btn {
  font-family: 'Cinzel', sans-serif;
  font-size: 2rem;
  color: var(--my-color-default-white);
  border: 0.1rem solid var(--my-color-default-white);
  border-radius: 0.8rem;
  margin-top: 15rem;
  user-select: none;

  --btn-width: 25rem;
  --btn-height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;

  width: var(--btn-width);
  height: var(--btn-height);

  &::before, &::after {
    position: absolute;
    background: var(--background-color);
    z-index: -1;
    transition: 1s;
    content: '';
  }

  &::before {
    width:  calc(var(--btn-width) - 2rem);
    height: calc(var(--btn-height) + 1px);
  }

  &::after {
    width: calc(var(--btn-width) + 1px);
    height: calc(var(--btn-height) - 2rem + 1px);
  }

  &:hover::before {
    width: 0;
  }

  &:hover::after {
    height: 0;
  }
}

@media screen and (max-width: vars.$breakpoint-md) {
  .container {
    width: 35rem;
    height: 35rem;

    .img-wrapper {
      padding: 1.5rem;
    }

    &::after {
      --border: 0.4rem;
    }
  }

  .title {
    margin-top: 7rem;
    font-size: 3.5rem;
  }

  .fake-btn {
    --btn-width: 20rem;
    --btn-height: 4.5rem;
    font-size: 1.6rem;
    margin-top: 12rem;
  }
}

@media screen and (max-width: vars.$breakpoint-sm) {
  .container {
    width: 25rem;
    height: 25rem;

    .img-wrapper {
      padding: 1rem;
    }

    &::after {
      --border: 0.3rem;
    }
  }

  .title {
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  .fake-btn {
    --btn-width: 18rem;
    --btn-height: 4rem;
    font-size: 1.4rem;
    margin-top: 10rem;
  }
}
