@use 'sass:math';

/**
 * This file contains the mixins for the theme
 */

@function get-relative-font-size($factor: 1) {
  @return calc(#{$factor} * var(--my-font-default-size));
}

@function theme-px-to-rem($pixels) {
  $original-rem-factor: calc(#{$pixels} / 16);
  @return get-relative-font-size($original-rem-factor);
}

/**
 * Background styles
 */

@mixin my-bg-white {
  background-color: var(--my-color-default-white);
}

@mixin my-bg-primary {
  background-color: var(--my-color-primary);
}

@mixin my-bg-primary-dark {
  background-color: var(--my-color-primary-dark);
}

@mixin my-bg-primary-light {
  background-color: var(--my-color-primary-light);
}

@mixin my-bg-gray {
  background-color: var(--my-neutral-100);
}

/**
 * Font styles
 */
@mixin my-fg-primary {
  color: var(--my-color-primary);
}

@mixin my-fg-white {
  color: var(--my-color-default-white);
}

@mixin my-fg-default {
  color: var(--my-font-color-default);
}

@mixin my-fg-secondary {
  color: var(--my-font-color-secondary);
}

@mixin my-f-link {
  @include my-f-default;
  @include my-fg-primary;
}

@mixin my-f-default($weight: 400) {
  font-weight: $weight;
  color: var(--my-font-color-default);
  font-size: var(--my-font-default-size);
  line-height: var(--my-font-default-line-height);
}

@mixin my-f-bold() {
  font-weight: 600;
}

@mixin my-f-title-1($weight: 500, $condensed: 0) {
  font-weight: $weight;
  color: var(--my-font-color-default);
  font-size: var(--my-font-title1-size);
  line-height: var(--my-font-title1-line-height);
}

@mixin my-f-title-2($weight: 500, $condensed: 0) {
  font-weight: $weight;
  color: var(--my-font-color-default);
  font-size: var(--my-font-title2-size);
  line-height: var(--my-font-title2-line-height);
}

/**
 * Normalize Semantic Markup Elements
 */

@mixin my-normalize-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
}

@mixin my-normalize-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin my-normalize-a {
  color: var(--my-font-color-default);
  text-decoration: none;
}
